/* body{
    background-image: url(/src/assets/Register.png) ;
    background-size: 150%
     
} */

/* .div{
    
    /* /* margin-top: 8%;
    margin-right: 10%;
    width: 50%;
    float: right */
